Django==6.0.7
djangorestframework==3.17.1
django-filter==26.1
django-environ==0.14.0
psycopg2-binary==2.9.12
celery==5.6.3
redis==8.0.1
gunicorn==23.0.0
django-celery-beat==2.9.0
drf-spectacular==0.30.0
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
dnspython==2.8.0
playwright==1.56.0
django-prometheus==2.5.0